<section id="signup">
	<header>
		<h1>Sign Up</h1>
	</header>
	
	<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
	<section class="error">
		<h2>Form is invalid</h2>
		<ul>
			<% for message in @user.errors.full_messages %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</section>
	<% end %>
	<section class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</section>
	<section class="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</section>
	<section class="field">
		<%= f.label :address %>
		<%= f.text_field :address %>
	</section>
	<section class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</section>
	
	<section class="field">
		<%= f.label :province_id %>
		<%= f.collection_select :province_id, @provinces, :id, :name %>
	</section>
	<section class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</section>
	
	<section class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</section>
	<section class="field">
		<%= submit_tag "Sign", :id => "submit" %>
	</section>
	<% end %>
</section>