<section class="items_in_cart">
	<section class="item_in_cart">
		<section class="cart_item_image">
			<%= image_tag item.product.image, :class => "item_image" if item.product.image.present? %>
		</section>
		<section class="cart_item_information">
			<section class="item_info">
				<%= span_label 'Product Name:' %>
				<%= span_value item.product.name %>
			</section>
			<section class="item_info">
				<%= span_label 'Quantity:' %>
				<%= span_value item.quantity %>
			</section>
			<section class="item_info">
				<%= span_label 'Price: ' %>
				<%= span_value number_to_currency(item.price) %>
			</section>
		
		</section>
		
	</section>	
</section>