<section id="shoppingcart">

	<%= render :partial => 'items_in_cart', :collection => @items, :as => 'item' %>



	<%= form_for @user, :url => confirm_order_path do |f| %>
		<% if !session['user_id'].present? %>
			<section class="field">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
			</section>
			<section class="field">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</section>
			<section class="field">
				<%= f.label :email %>
				<%= f.email_field :email %>
			</section>
			<section class="field">
				<%= f.label :address %>
				<%= f.text_field :address %>
			</section>
			<section class="field">
		    	<%= f.label :province_id %>
		    	<%= f.collection_select :province_id, @provinces, :id, :name %>
	  		</section>
		<% else %>
		<%= render :partial => 'user_checkout_info', :object => @user, :as => 'user' %>
	<% end%>
		<section class="field">
			<%= submit_tag 'Place Order', :id => "submit" %>
		</section>
	
	<% end %>

</section>