

<section id="checkout">
	<header>
		<h1>Display Cart Check</h1>
	</header>
		 <nav>
	  <ul>
	    <li><%= link_to 'Continue shopping', store_path %></li>
	    <li><%= link_to 'Empty cart', store_path, :method => :delete %></li>
	    <li><%= link_to 'Checkout', checkout_path %></li>
	  </ul>
	</nav>
	
	
	<%= render :partial => 'items_in_cart', :collection => @items, :as => 'item' %>
	<section class="shopping_cart_summary">
	<%= span_label 'Cart Contains: '%>
	<%= span_value pluralize @items.size, 'item' %>
	<%= span_label 'Total: ' %>
	<%= span_value @cart.total_price%>
	</section>
</section>
