<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>
  	Elmorfstore
  	<% if(yield(:title) != "")%>
  		<%= " - " + yield(:title) %>
  	<% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<section id="container">
		<header class="main">
			<section id="logo">
				<img src="/assets/logo.png" alt="Logo" />
			</section>
			<nav class="main">
				<ul>
					<li><%= link_to 'Home', root_path %></li>

					<% unless @pages.empty? %>
						<% @pages.each do |page| %>
							<li><%= link_to page.title, "/pages/#{page.id}/#{page.permalink}" %></li>
						<% end %>
					<% end %>

					<li><%= link_to 'Shopping Cart', shoppingcart_path %></li>
					<li><%= link_to 'Admin', admin_root_path %></li>
				</ul>
			</nav>
			<nav class="sub">
				<% if current_user %>
					Logged in as <%= current_user.email %>
					<%= link_to "Log out", log_out_path %>
				<% else %>
					<%= link_to "Sign up", sign_up_path %>
					<%= link_to "Sign in", log_in_path %>
				<% end %>
			</nav>
		</header>
		
		<section id="content">
			<% if flash[:notice] %>
		      <section class="notice"><%= flash[:notice] %></section>
		    <% end %>
		    <% if flash[:error] %>
		      <section class="error"><%= flash[:error] %></section>
		    <% end %>
			<%= yield %>
		</section>
	</section>
	<section id="clear_footer"></section>
	
	<footer class="main">
		<section id="footer_amplifier"></section>
		<section id="footer_container">
			<ul>
				<% unless @footer_links.empty? %>
						<% @footer_links.each do |link| %>
							<li><%= link_to link.name, "#{link.url}" %></li>
						<% end %>
					<% end %>
			</ul>
		</section>
		
	</footer>


</body>

</html>
